* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Roboto", sans-serif; */
    
}

html {
    font-size: 62.5%;
}

body.light {
    
    background-color: #f5f5f5;
}

body.light .pic,
body.light .in3 {
    background: #00d4ff;
}

body.light .port {
    background: #121212;
}

body.light .toggle-btn {
    background: white;
}

body.light .about,
body.light #uni,
body.light .n,
body.light .tec1
 {
    color: #000000;
    background: #b9b9b9;
    box-shadow: 0 .2rem .8rem rgba(74, 74, 74, 0.1);
}

body.light .header {
    background: linear-gradient(135deg, #0077ff, #00d4ff);
    
    
}

body.light a.hire,
body.light #aa {

    color: transparent;
}

body.light #main .hire {
    background: white;
    color: #00d4ff;
    border: .1rem solid #ffff;
}

body.light a,
body.light div,
body.light .hire,
body.light p,
body.light #uni label,
body.light #main label,
body.light ._na,
body.light .lang,
body.light .ame,
body.light ._text1::before,
body.light ._text2::before,
body.light ._text3::before,
body.light .resbox {
    color: #000000;
    /* blue links */
}


body.light ._user,
body.light .user,
body.light .typed-cursor {
    color: #0077ff;
}

body.light .lang {
    border: .1rem solid black;
}

.toggle-btn {
    position: fixed;
    top: 5%;
    left: 22%;
    padding: 1rem 1rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: orange;
    color: white;
    font-weight: bold;
}


/* Dark Mode */
body.dark {
    background: #121212;

}



body {
    /* background-color: #181212; */
    transition: background 0.3s, color 0.3s;

}

.header {
    width: 100%;
    z-index: 10000;
    height: 8rem;
    background-color: #181818;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 1rem;


}

.port {
    border: .1rem solid white;
    border-radius: 50%;
    background: orange;
    width: 5rem;
    color: white;
    height: 5rem;
    margin: 1.5rem;
}


#main .hire {

    border: .2rem solid orange;
    background-color: orange;
    font-size: 1.7rem;
    padding: 0.8rem;
    color: black;
    border-radius: 2rem;

}

#main .hire:hover {

    border: .2rem solid white;
    background-color: orange;
    font-size: 1.7rem;
    padding: 0.8rem;
    cursor: pointer;
    color: black;
    border-radius: 2rem;

}

#main {
    text-align: right;
    margin-top: -6.5rem;


}

#main label {

    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0rem 2rem;
    margin-right: 4rem;

}



input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {

    border-bottom: .2rem solid orange;

}

#_uni a,
#_uni label {
    display: none;

}


.i {
    color: transparent;


}


i {

    display: none;

}



.pic {
    width: 40rem;
    border-radius: 50%;
    background: orange;
    margin-top: 10rem;
    margin-right: 8rem;
    border: .1rem solid white;
    float: right;



}

#img {
    width: 40rem;
    border-radius: 50%;

}

._text {


    margin: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    overflow-x: scroll;
    /* scrollbar-width: thin; */


}


._text::-webkit-scrollbar {
    height: 1rem;
    width: 1rem;
}


._text::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 1rem;
}


._text::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    border-radius: 1rem;
    border: .2rem solid #1e1e1e;
}


._text::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #edc10e, #dd2476);
}




.box {
    width: auto;
    min-width: 32rem;
    min-height: 35rem;
    max-height: fit-content;
    max-height: fit-content;
    height: auto;
    border-radius: 2rem;
    cursor: pointer;
    max-width: fit-content;
    display: flex;
    margin: 1.2rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    border: .1rem solid #181818;
    background-color: #0015227d;


}






.ap {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}

.ap1 {
    min-width: 25rem;
    min-height: 25rem;
    max-width: 100%;
    background-color: #181818;
    border-radius: 2rem;
    width: fit-content;
    display: block;
}

.ap1:hover {


    opacity: 0.8;
}

.ap2 {

    display: none;
}

.ap2:hover {
    color: white;
    min-width: 25rem;
    min-height: 25rem;
    max-width: 100%;
    background-color: #181818;
    border-radius: 2rem;
    width: fit-content;
    display: block;

}

.nig {
    display: flex;
}

.lang {
    border: .2rem solid white;
    border-radius: 2rem;
    padding: .5rem;
    margin: .2rem;
    color: white;
}

.tec1 {
    /* padding: 1.8rem; */
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    /* font-size: 1.2rem; */
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: .2rem solid #181212;
    border-radius: 50%;
}

.mylang {
    border: .2rem solid #181212;
    border-radius: 50%;
    margin: 2rem;

}


._text1 {

    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    padding: 1.5rem;
    color: white;
}

._text2 {

    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 1.5rem;
    color: white;
}

._text3 {


    /* margin: 6rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

.in1 {
    width: 30rem;
    padding-left: 2rem;
    font-size: 2rem;
    margin: 2rem;
    height: 4rem;
    border-radius: 2rem;
}

.in2 {

    padding-left: 2rem;
    font-size: 2rem;
    text-align: start;
    width: 30rem;
    height: 10rem;
    margin: 2rem;
    border-radius: 2rem;


}

.pdf-viewer {
    width: min-content;
    height: 82vh;
    border: none;
    margin-bottom: 5rem;
    font-size: 4rem;


}


.resbox {
    border: .2rem solid white;
    width: 6rem;
    height: 3rem;
    padding: 1rem;
    text-decoration: none;
    color: white;
    border-radius: 3rem;
    background-color: grey;
    font-size: 2rem;
}



.resbox:hover {
    text-decoration: none;
    color: white;
    border-radius: 3rem;
    background-color: blue;


    font-size: 2rem;
}

.in3 {
    width: 30rem;
    height: 4rem;
    margin: 2rem;


    cursor: pointer;
    border-radius: 2rem;
    border-radius: 1rem;
    background-color: orange;
    color: white;
}

.name {

    width: max-content;
    /* border:.2rem solid white; */
}

.typing {
    font-size: 2.5rem;
    font-weight: bold;
}

.typed-cursor {
    font-size: 8rem;
    color: orange;
}

.highlight {
    color: orange;
}

.n {

    height: 100%;
    min-height: 100%;
    background: #181818;
    display: flex;
    /* border:.2rem solid red; */
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    margin: 10rem 5rem;
    border-radius: 12rem;
}

.com {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hi {
    font-size: 2rem;
    color: grey;
    padding: .2rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    /* border:.1rem solid white; */
    letter-spacing: .2rem;
    width: 50%;
}

.hi1 {
    color: grey;
    text-align: justify;
    letter-spacing: .2rem;
    font-family: Arial, Helvetica, sans-serif;
    /* border:.1rem solid white; */
    width: 50%;
    margin-top: 1.5rem;
    font-size: 2rem;

}

.user {
    color: orange;
}

.tech {
    margin-top: 3.5rem;
    font-size: 4rem;
    margin-bottom: 3.5rem;
}

.mytech {
    display: flex;
    justify-content: left;
    /* border:.1rem solid white; */
    width: 50%;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}



._text::before {

    margin: 5rem;
    font-size: 3rem;
    text-align: center;
    color: white;
}

._text1::before {
    content: "About Me";

    margin: 5rem;
    font-size: 3rem;
    text-align: center;
    color: white;
}

._text2::before {
    content: "Resume";

    margin: 5rem;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.batt {
    background-color: grey;
    color: white;
    border-radius: 2rem;
    text-align: center;
    margin: 4rem;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem;
    border: .2rem solid white;

}



.batt:hover {
    background-color: orange;

}

._text3::before {
    content: "📩Contact Me";

    margin: 5rem;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.about {

    border-radius: 12rem;
    background-color: #181818;
    margin: 10rem 5rem;
    padding: 2rem;

}

.ame {

    font-size: 3rem;
    color: white;


}



._na {
    color: white;
    margin-top: 8rem;
    font-size: 6rem;
}

._user {

    color: orange;
    font-size: 7rem;
}


label {
    margin-left: 2.2rem;

    font-size: 2rem;
}

i {

    padding: .5rem;


}

i:hover {
    cursor: pointer;
    color: orange;
    padding: .5rem;

}

.footer {
    width: 100%;
    height: 6rem;
    display: flex;
    background-color: #19435d;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer .i1 {
    color: white;
    font-size: 2.6rem;
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;


}

@media screen and (max-width:866px) {
    * {
        margin: 0;
        padding: 0;
        appearance: none;
    }

    html {
        font-size: 60.84%;
    }

    body.light a.hire {
        background: white;
        color: #00d4ff;
        border: .1rem solid #ffff;
    }


    body.light #aa {

        color: white;
    }

    #main a,
    #main label {

        display: none;
        /* opacity: 0; */
    }

    .pic {
        width: 25rem;
        border-radius: 50%;
        margin-left: 5rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    #img {
        width: 25rem;
        border-radius: 50%;

    }

    .hi {
        font-size: 2rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        width: 90%;
    }

    .hi1 {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        width: 90%;
        margin-top: 1.5rem;
        font-size: 2rem;

    }

    .mytech {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        margin: 5rem;
        text-align: center;
        align-items: center;
    }

    .tech {
        margin-top: 5.5rem;
        margin-bottom: -2rem;
    }

    .tec1 {
        /* padding: 1.5rem; */
        width: 3rem;
        height: 3rem;
        font-size: 1.2rem;
        margin: 1rem;

        border: .2rem solid #181212;
        border-radius: 50%;
    }

    .box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        border: .1rem solid #19435d;


    }

    .box:hover {
        width: 100%;
        cursor: pointer;

    }



    .name {
        padding: .5rem;
        margin-bottom: 5rem;



    }

    .in1 {


        font-size: 1.5rem;
        z-index: 10;
        border-radius: 1rem;
    }

    .in2 {


        border-radius: 1rem;
        font-size: 1.5rem;


    }


    .ap1 {
        min-width: 20rem;
        min-height: 20rem;
        max-width: 100%;
        background-color: #181818;
        border-radius: 2rem;
        width: fit-content;
        display: block;
    }

    .in3 {
        width: 30rem;
        height: 4rem;
        cursor: pointer;
        border-radius: 1rem;
        background-color:orange;
        color: white;
    }

    ._na {
        color: white;
        margin: 2.5rem;
        font-size: 4rem;
    }

    .n {
        display: flex;
        justify-content: center;
        width: auto;
        height: auto;
        padding: 0rem;
        align-items: center;
        text-align: center;
        flex-direction: column-reverse;
    }

    ._user {

        color: orange;
        font-size: 5rem;
    }


    /* .port {
        
    text-align: left;
        border:.1rem solid white;
        } */


    ._text {
        margin: 1rem;
        font-size: 1.5rem;
        max-height: 25rem;
        padding: 1.5rem;
        color: white;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        flex-direction: column;
    }

    ::-webkit-scrollbar {

        scrollbar-gutter: blue;
    }

    ._text1 {
        margin: 1rem;
        font-size: 1.5rem;
        padding: 1.5rem;
        color: white;
    }

    ._text2 {
        margin: 1rem;
        font-size: 1.5rem;
        padding: 1.5rem;
        color: white;
    }

    ._text3 {
        margin: 1rem;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding: 1.5rem;
        color: white;
    }


    .ap {
        color: white;
        text-decoration: none;
        font-size: 2.3rem;

    }



    .lang {
        border: .2rem solid white;
        border-radius: 1rem;
        padding: .3rem;
        color: white;
    }


    .ame {
        margin: 5rem;
        border: .1rem solid transparent;
        padding: 2rem;
        text-align: center;
        color: white;

    }

    .i {
        text-align: right;
        color: white;
        margin-top: -8.5rem;
        margin-right: 3.5rem;
        font-size: 3rem;
    }


    #_uni label:hover {

        color: orange;
        font-size: 2rem;
        cursor: pointer;
        padding: 1.8rem;
        /* margin-right: 4rem; */
    }

    /* 
    input[type="radio"]
    {
        display:none; 
        }  */

    #_uni input[type="radio"]:checked+label {

        color: orange;
        /* clip-path: circle(100% at 50% 50%); */

    }

    #uni {
        display: none;
        width: 85%;
        height: 100%;
        position: fixed;
        /* border:.1rem solid white; */
        margin-top: 2rem;
        /* margin-left: -1.5rem; */
        background-color: #181212;
    }

    .about,
    .n {

        border-radius: 2rem;
        background-color: #181818;
        margin: 15rem 1rem;
        height: fit-content;
        padding: 1.2rem;
        /* border: .2rem solid red; */

    }

    #_uni {
        display: none;
        width: 85%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        text-align: left;



    }

    .hire {

        border: .2rem solid orange;
        background-color: orange;
        font-size: 1.7rem;
        cursor: pointer;
        margin-right: 9rem;
        padding: 0.8rem;
        color: black;
        border-radius: 2rem;

    }

    .hire:hover {

        border: .2rem solid white;
        background-color: orange;
        font-size: 1.7rem;
        cursor: pointer;
        margin-right: 9rem;
        padding: 0.8rem;
        color: black;
        border-radius: 2rem;

    }

    #_uni label {

        padding: 1.8rem;
        color: white;
        font-size: 2rem;
        margin-left: 0rem;
        text-decoration: none;
        display: inline-block;
        border: none;
        width: 85%;

    }




    .batt {
        background-color: grey;
        color: white;
        border-radius: 2rem;
        text-align: center;
        margin: 4rem;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 1.5rem;
        border: .2rem solid white;

    }

    .batt:hover {
        background-color: orange;

    }

    .resbox {
        border: .2rem solid white;

        margin-left: 8rem;
        margin-right: 8rem;
        height: 5rem;
        padding: 1rem;
        text-decoration: none;
        font-size: 2rem;
        color: white;
    }



    .resbox:hover {
        text-decoration: none;
        margin: 5rem;
        color: white;
        background-color: blue;


        font-size: 2rem;
    }


    i {

        padding: .5rem;
        margin-top: 2rem;

    }

    i:hover {
        cursor: pointer;
        color: orange;
        padding: .5rem;

    }

    .footer {
        width: 100%;
        height: 6rem;
        margin-bottom: 2.5rem;
        display: flex;
        background-color: #19435d;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .footer .i1 {
        color: white;
        margin: 2.5rem;
        font-size: 2.6rem;

    }

}

@media screen and (max-width:470px) {

    * {
        margin: 0;
        padding: 0;
        appearance: none;
    }

    html {
        font-size: 56.65%;
    }

    body.light .i.hire {
        background: white;
        color: #00d4ff;
        border: .1rem solid #ffff;
    }


    body.light #aa {

        color: white;
    }

    #main a,
    #main label {

        display: none;
        opacity: 0;
    }

    .pic {
        width: 25rem;
        border-radius: 50%;
        margin-left: 7rem;
        margin-top: 0rem;
    }

    .hi {
        font-size: 1.6rem;
        text-align: justify;
        width: 100%;
        margin: 0rem;

    }

    .hi1 {
        margin: 0rem;
        width: 100%;
        margin-top: 1.5rem;
        font-size: 1.6rem;
        text-align: justify;

    }

    .batt {
        background-color: grey;
        color: white;
        border-radius: 2rem;
        text-align: center;
        margin: 4rem;
        cursor: pointer;
        font-size: 1.6rem;
        padding: 1.6rem;
        border: .2rem solid white;

    }

    .batt:hover {
        background-color: orange;
        color: white;
        border-radius: 2rem;
        text-align: center;
        margin: 4rem;
        cursor: pointer;
        font-size: 1.6rem;
        padding: 1.6rem;
        border: .2rem solid white;

    }

    .mytech {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 0rem;
        margin-top: 5rem;
        text-align: center;
        align-items: center;
    }

    .tec1 {
        /* padding: 1.2rem; */
        min-width: auto;
        width: 3rem;
        height: 3rem;
        /* font-size: 1.2rem; */
        margin: .5rem;
        border: .2rem solid #181212;
        border-radius: 50%;
    }

    #img {
        width: 25rem;
        border-radius: 50%;

    }




    .name {
        padding: .5rem;




    }

    .in1 {


        width: auto;
        font-size: 1.5rem;

        border-radius: 1rem;
    }

    .in2 {

        width: auto;
        border-radius: 1rem;
        font-size: 1.5rem;


    }

    .in3 {

        min-width: auto;
        width: 20rem;
        min-height: 3rem;
        border: .1rem solid white;
        cursor: pointer;
        /* border:.1rem solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        font-size: 1.5rem;
        padding: 0rem;
        background-color:orange;
        color: white;
    }

    ._na {
        color: white;
        margin: 2.5rem;
        margin-right: 0rem;
        font-size: 3rem;
    }

    .typed-cursor {
        font-size: 3.5rem;
        color: orange;
    }

    .n {
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-between;
        padding: 0rem;
        align-items: center;
        text-align: center;
        flex-direction: column-reverse;


    }

    ._user {

        color: orange;
        font-size: 3rem;
    }


    /* .port {
        
        text-align: left;
        border:.1rem solid white;
        } */

    ._text {
        margin: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
        /* border:.2rem solid green; */
        color: white;
    }

    ._text1 {

        margin: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
        color: white;
    }

    ._text2 {
        margin: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
        color: white;
    }

    ._text3 {
        margin: 1rem;
        font-size: 1.2rem;


        padding: 1rem;
        color: white;
    }

    /* body
    {
         border:.4rem solid blue; 
        align-content: center;
        width: auto;
        height: auto;

        
    } */

    .about,
    .n {

        border-radius: 2rem;
        background-color: #181818;
        margin: 8.5rem 1rem;
        height: fit-content;
        padding: 1.2rem;

    }




    .ame {
        margin: 3rem;
        padding: 2rem;
        text-align: center;
        color: white;

    }

    .i {
        float: right;
        color: white;
        width:max-content;
        /* border:.1rem solid white; */
        margin-top: -.5rem;
        margin-right: 2.5rem;
        font-size: 3rem;
    }


    #_uni label:hover {

        color: orange;
        font-size: 2rem;
        padding: 3rem;
        margin-right: 4rem;
    }

    #uni {
        width: 85%;
        height: 100%;
        display: none;
        position: fixed;
        border: none;
        margin-top: -1rem;
        background-color: #181212;
    }

    #_uni {
        display: none;
        padding: 1.2rem;
        margin-top: 0rem;
        position: absolute;
        width: 85%;
        /* border:.2rem solid white; */
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;

    }

    .hire {

        border: .2rem solid orange;
        background-color: orange;
        font-size: 1.7rem;
        cursor: pointer;
        margin-right: 9rem;
        padding: 0.8rem;
        color: black;
        border-radius: 2rem;

    }


    .ap1 {
        min-width: 0rem;
        width: 20rem;
        height: 14rem;
        border-radius: 2rem;
        min-height: 0rem;
    }

    .hire:hover {

        border: .2rem solid white;
        background-color: orange;
        font-size: 1.7rem;
        cursor: pointer;
        margin-right: 9rem;
        padding: 0.8rem;
        color: black;
        border-radius: 2rem;

    }

    #_uni label {

        padding: 1.8rem;
        color: white;
        width: fit-content;
        font-size: 1.6rem;
        display: inline-block;
        margin-left: 0rem;
        border: none;
        /* border: .2rem solid white; */
        width: 85%;

    }


    .box {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        min-width: auto;
        border: .1rem solid red;
        min-height: auto;
        border: .1rem solid white;
        cursor: pointer;


    }

    /* .box:hover {
        
    
    background-color: rgb(244, 184, 72);
    height: 6rem;
    } */

    .ap {
        color: white;
        text-decoration: none;
        text-align: center;
        margin-top: 1rem;
        font-size: 1.5rem;

    }

    .nig {

        margin-top: 1rem;
        display: flex;
        width: 20rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .lang {

        border: .2rem solid white;

        border-radius: 1rem;
        padding: .3rem;
        font-size: 1rem;
        color: white;
    }

    .pdf-viewer {
        width: max-content;
        height: 100%;
        border: none;
        margin-bottom: 5rem;
        font-size: 2rem;


    }

    .resbox {
        border: .2rem solid white;

        margin: 6rem;
        height: 6rem;
        padding: 1rem;
        text-decoration: none;
        font-size: 2rem;
    }



    .resbox a:hover {
        text-decoration: none;
        margin: 2.5rem;
        color: white;
        background-color: blue;


        font-size: 2rem;
    }


    i {

        padding: .5rem;
        margin-top: 2rem;

    }


    i:hover {
        cursor: pointer;
        color: orange;
        padding: .5rem;

    }

    .footer {
        width: 100%;
        height: 6rem;
        margin-bottom: 0rem;
        display: flex;
        background-color: #19435d;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .footer .i1 {
        color: white;
        margin: 2.5rem;
        font-size: 2.6rem;

    }

}

@media screen and (max-width:1037px) {

    html {
        font-size: 62.5%;
    }

}