* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Roboto", sans-serif; */

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body.light {

    background-color: #f5f5f5;
}

body.light .pic,
body.light .in3 {
    background: #00d4ff;
}

body.light .port {
    background: #121212;
}

body.light .toggle-btn {
    background: white;
}

body.light #uni,

body.light .tec1 {
    color: #000000;
    background: #b9b9b9;
    box-shadow: 0 .2rem .8rem rgba(74, 74, 74, 0.1);
}

body.light .header {
    background: linear-gradient(135deg, #0077ff, #00d4ff);


}

body.light a.hire,
body.light #aa {

    color: transparent;
}

body.light #main .hire {
    background: white;
    color: #00d4ff;
    border: .1rem solid #ffff;
}

body.light a,
body.light div,
body.light .hire,
body.light p,
body.light #uni label,
body.light #main label,
body.light ._na,

body.light .ame,
body.light ._text1::before,
body.light ._text2::before,
body.light ._text3::before,
body.light .resbox {
    color: #000000;
}

body.light .lang {
    color: #0077ff;
}

body.light .box {

    background: #ffff;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.1);
}

body.light .about,
body.light .n {
    background-color: white;
}


body.light ._user,
body.light .user,
body.light .typed-cursor {
    color: #0077ff;
}


.toggle-btn {
    /* position: fixed;
    top:2%;
    left: 5%;  */
    border: none;
    cursor: pointer;
    padding: .5rem .5rem;
    top: 0;
    border-radius: 50%;
    background: orange;
    color: white;
    font-weight: bold;
}


.toggle-btn:hover {
    border: .1rem solid orange;
    border-radius: 50%;
    padding: .5rem;
    background: transparent;
}

/* Dark Mode */
body.dark {
    background: #121212;

}



body {
    /* background-color: #181212; */
    transition: background 0.3s, color 0.3s;

}

.header {
    width: 100%;
    z-index: 10000;
    height: 8rem;
    background-color: #181818;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 1rem;


}

.port {
    border: .1rem solid white;
    border-radius: 50%;
    background: orange;
    width: 5rem;
    color: white;
    height: 5rem;
    margin: 1.5rem;
}

#main {
    /* border:.2rem solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

#main .hire {

    border: .1rem solid white;
    background-color: #19435d;
    font-size: 1.7rem;
    padding: 0.8rem;
    margin: 0rem;
    color: #fff;
    border-radius: 1rem;

}

#main .hire:hover {

    border: .1rem solid orange;
    background-color: transparent;
    font-size: 1.7rem;
    padding: 0.8rem;
    cursor: pointer;
    color: #fff;
    border-radius: 1rem;

}


#main label {

    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0rem 2rem;
    margin-right: 0rem;

}



input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {

    border-bottom: .1rem solid orange;

}

body.light input[type="radio"]:checked+label {

    border-bottom: .1rem solid white;

}

body.light .resbox {
    color: white;
}

#_uni a,
#_uni label {
    display: none;

}


.i {
    color: transparent;
    display: none;

}


i {

    display: none;

}



.pic {
    width: 35rem;
    /* height:25rem; */
    border-radius: 50% 20% 50% 20%;
    /* background: orange; */
    /* display:flex; */
    
       /* background:linear-gradient(
        160deg,
        #ffbf47,
        #ff8c00,
        #ff5e00
    ); */
    /* position: relative; */
    display: flex;
    /* margin-top: 10rem; */
    margin-right: 8rem;
    /* height: 20rem; */
    /* border: 1rem solid white; */
    float: right;
    box-shadow: 0 2rem 4rem rgba(255, 152, 0, .35);
    backdrop-filter:blur(1.8rem);


    
}




#img {
    width: 100%;
    border-radius: 50% 20% 50% 20%;
    /* margin-top:-60%; */
    /* object-fit: cover; */
    /* border-radius: 50%; */

}

._text {


    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
    /* border: .1rem solid white; */
    /* overflow-x: scroll; */
    /* scrollbar-width: thin; */


}





.box {
    border-radius: 1.2rem;
    /* cursor: pointer; */
    padding: 2rem;
    border: .1rem solid #181818;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    /* border:.4rem solid red ; */
    background-color: #0015227d;


}

.ap {
    color: white;
    /* text-decoration: none; */
    margin-bottom: 1rem;
    font-size: 2.5rem;
}



.ap2 {

    display: none;
}

.ap2:hover {
    color: white;
    min-width: 25rem;
    min-height: 25rem;
    max-width: 100%;
    background-color: #181818;
    border-radius: 2rem;
    width: fit-content;
    display: block;

}

.nig {
    /* display: flex; */
    color: white;
    margin-bottom: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
    font-size: 1.5rem;
}

.lang {
    width: fit-content;
    font-size: 2rem;
    border-radius: 2rem;
    padding: .5rem;
    /* border: .1rem solid white; */
    cursor: pointer;
    color: #0077ff;
}

.tec1 {
    /* padding: 1.8rem;  */
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    font-size: 1.2rem;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    /* border: .2rem solid #181212; */
    border-radius: .5rem;
}

.tec1 img {

    width: 100%;
    height: auto;
}

.mylang {

    /* border: .2rem solid #181212; */
    border-radius: .5rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    background-color: #141313;
    /* margin: 2rem; */

}


._text1 {

    /* margin: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: .1rem solid white; */
    flex-direction: column;
    font-size: 1.5rem;
    padding: 1.5rem;
    color: white;
}

._text2 {

    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 1.5rem;
    color: white;
}

._text3 {


    /* border: .1rem solid white;  */
    width: 100%;
    margin: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #282727;
    gap: 2rem;
    border-radius: 1rem;
}

/* .vid
{
    position: relative;
    

}

video
{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    z-index:-1;
    left:0;
    object-fit: cover;

} */

.in1 {

    width: 100%;
    padding-left: 2rem;
    font-size: 1.5rem;
    /* border: .1rem solid white; */
    height: 4rem;
    background: transparent;
    border-radius: .8rem;
    /* position: relative; */
    color: white;

}


/* 
.in2 {

    padding-left: 2rem;
    font-size: 2rem;
    text-align: start;
    width: 30rem;
    height: 10rem;
    border:.1rem solid white;
    margin: 2rem;
    border-radius: 2rem;


} */

.in3 {

    width: 100%;
    height: 4rem;
    cursor: pointer;
    margin-bottom: 3.5rem;
    border-radius: 1rem;
    background-color: orange;
    color: white;
}

.pdf-viewer {
    width: min-content;
    height: 82vh;
    border: none;
    margin-bottom: 5rem;
    font-size: 4rem;


}


.resbox {
    border: .1rem solid white;
    width: 6rem;
    height: 3rem;
    padding: 1rem;
    text-decoration: none;
    color: white;
    margin-top: 0;
    border-radius: 1rem;
    background-color: #19435d;
    font-size: 2rem;
}



.resbox:hover {
    text-decoration: none;
    color: white;
    padding: 1rem;
    border: .1rem solid orange;
    border-radius: 1rem;
    background-color: transparent;
    font-size: 2rem;
}


.name {

    width: max-content;
    /* border:.2rem solid white; */
}

.typing {
    font-size: 2.5rem;
    font-weight: bold;
}

.typed-cursor {
    font-size: 4rem;
    color: orange;
}

.highlight {
    color: orange;
}

.n {

    height: 100%;
    min-height: 100%;
    background: #181818;
    display: flex;
    /* border:.2rem solid red; */
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    margin: 10rem 5rem;
    border-radius: 1rem;
}

.com {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hi {
    font-size: 2rem;
    color: grey;
    padding: .2rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    /* border:.1rem solid white; */
    letter-spacing: .2rem;
    width: 50%;
}

.hi1 {
    color: grey;
    text-align: justify;
    letter-spacing: .2rem;
    font-family: Arial, Helvetica, sans-serif;
    /* border:.1rem solid white; */
    width: 50%;
    margin-top: 1.5rem;
    font-size: 2rem;

}

.user {
    color: orange;
}




.tech {
    margin-top: 3.5rem;
    font-size: 4rem;
    height: 4rem;
    /* border: .1rem solid white; */
    margin-bottom: 3.5rem;
}

.mytech {
    /* border: .1rem solid white; */
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    /* flex-wrap: wrap; */
    text-align: center;
    align-items: center;
}



._text::before {

    margin: 5rem;
    font-size: 3rem;
    text-align: center;
    color: white;
}

._text1::before {
    content: "About Me";

    margin: 5rem;
    font-size: 3rem;
    text-align: center;
    color: white;
}

._text2::before {
    content: "Resume";

    margin: 5rem;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.batt {
    background-color: grey;
    color: white;
    border-radius: 2rem;
    text-align: center;
    margin: 4rem;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem;
    border: .2rem solid white;

}



.batt:hover {
    background-color: orange;

}

._text3::before {
    content: "📩Contact Me";
    /* border:.1rem solid white; */
    margin: 4rem;
    margin-top: 3rem;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.about {

    border-radius: 1rem;
    background-color: #181818;
    margin: 8rem 4rem;
    padding: 2rem;
    /* border:.1rem solid white; */

}

#coon {


    border-radius: 1rem;
    background-color: #181818;
    padding: 2rem;
    /* border: .1rem solid white; */
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    justify-content: center;
    align-items: center;


}

.ame {

    font-size: 3rem;
    color: white;


}

.pimg {
/* border:.1rem solid white; */
/* width:25rem; */
height:20rem;
overflow: hidden;
border-radius:.2rem;
margin:1.5rem 0 ;

}
    
.pimg img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:transform .5s ease-in-out;
}



._na {
    color: white;
    /* margin-top: 8rem; */
    font-size: 6rem;
}

._na1 {
    color: white;
    /* margin-top: 8rem; */
    font-size: 4rem;
}

._user {

    color: orange;
    font-size: 6rem;
}

._user1 {

    color: orange;
    font-size: 4rem;
}

label {
    margin-left: 2.2rem;
    /* border:.1rem solid white; */
    font-size: 2rem;
}

.lab {
    margin-left: 0;
    padding-left: .5rem;
    /* border:.1rem solid white; */
    font-size: 2rem;
    display: flex;
    align-items: center;
    background-color: #282727;
    position: absolute;
    color: white;
    /* border-radius: 1rem; */
    margin-left: .5rem;
    transition: all 1s ease-in-out;
    margin-top: -3rem;
    cursor: default;
}

.in1:focus~label,
.in1:valid~label {
    margin-top: -5rem;
    background-color: #282727;
    font-size: 1rem;
    height: auto;
    color: white;
    transition: all 1s ease-in-out;
    padding: .5rem;
}

i {

    padding: .5rem;


}

i:hover {
    cursor: pointer;
    color: orange;
    padding: .5rem;

}

.footer {
    width: 100%;
    height: 6rem;
    display: flex;
    background-color: #19435d;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer .i1 {
    color: white;
    font-size: 2.6rem;
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;


}

@media screen and (max-width:866px) {
    * {
        margin: 0;
        padding: 0;
        appearance: none;
    }

    html {
        font-size: 60.84%;
    }

    body.light a.hire {
        background: white;
        color: #00d4ff;
        border: .1rem solid #ffff;
    }

    .toggle-btn {
        /* position: fixed;
    left: 5%;
    top:2%;  */
        border: none;
        cursor: pointer;
        padding: .5rem;
        border-radius: 50%;
        background: orange;
        color: white;
        font-weight: bold;
    }


    body.light #aa {

        color: white;
    }

    #main,
    .resbox1,
    .hire1 {

        display: none;
        /* opacity: 0; */
    }

    .pic {
        /* width: auto; */
        border-radius: 50% 20% 50% 20%;
        margin-left: 5rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    #img {
        /* width: 25rem; */
        border-radius: 50%;

    }

    .hi {
        font-size: 2rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        width: 90%;
    }

    .hi1 {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        width: 90%;
        margin-top: 1.5rem;
        font-size: 2rem;

    }

    .mytech {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        /* justify-content: center; */
        flex-wrap: wrap;
        /* width: 90%; */
        margin: 5rem;
        /* border:.1rem solid white; */

        /* text-align: center;
        align-items: center; */
    }

    .tech {
        margin-top: 5.5rem;
        margin-bottom: -2rem;
    }

    .tec1 {
        /* padding: 1.5rem; */
        width: 3rem;
        height: 3rem;
        font-size: 1.2rem;
        margin: 1rem;

        border: .2rem solid #181212;
        border-radius: 50%;
    }

    .box {

        padding: 2rem;
        border: .1rem solid #19435d;


    }




    .name {
        padding: .5rem;
        margin-bottom: 5rem;



    }




    .ap1 {
        min-width: 20rem;
        min-height: 20rem;
        max-width: 100%;
        background-color: #181818;
        border-radius: 2rem;
        width: fit-content;
        /* border: .1rem solid white; */
        display: block;
    }

  
    ._na {
        color: white;
        margin: 2.5rem;
        font-size: 4rem;
    }

    .n {
        display: flex;
        justify-content: center;
        width: auto;
        height: auto;
        padding: 0rem;
        align-items: center;
        text-align: center;
        flex-direction: column-reverse;
    }

    ._user {

        color: orange;
        font-size: 5rem;
    }


    /* .port {
        
    text-align: left;
        border:.1rem solid white;
        } */


    ._text {
        margin: 1rem;
        font-size: 1.5rem;

        padding: 1.5rem;
        color: white;
    }


    ._text1 {
        margin: 1rem;
        font-size: 1.5rem;
        padding: 2rem;
        color: white;
    }

    ._text2 {
        margin: 1rem;

        font-size: 1.5rem;
        padding: 1.5rem;
        color: white;
    }

    ._text3 {
        /* margin: 1rem; */
        font-size: 1.5rem;
        display: flex;
        /* justify-content: center; */
        justify-self:center; 
        /* align-items: center; */
        /* border:.1rem solid white; */
        text-align: left;
        padding: 1.5rem;
        color: white;
    }


    .ap {
        color: white;
        text-decoration: none;
        font-size: 2.3rem;

    }



    .lang {
        border: none;
        border-radius: 1rem;
        padding: .3rem;
        width: fit-content;
        color: #0077ff;
        cursor: pointer;
    }


    .ame {
        margin: 5rem;
        border: .1rem solid transparent;
        padding: 2rem;
        text-align: center;
        color: white;

    }

    .i {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        color: white;
    }

    #aa,
    #cls {
        margin-top: 0rem;
        font-size: 3rem;
        /* border:.2rem solid red; */
        padding: .5rem;
        margin-right: 2rem;

    }

    #_uni label:hover {

        color: orange;
        font-size: 2rem;
        cursor: pointer;
        padding: 1.8rem;
    }

    /* 
    input[type="radio"]
    {
        display:none; 
        }  */

    #_uni input[type="radio"]:checked+label {

        color: orange;

    }

    #uni {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        margin-top: -1rem;
        background-color: #181212;
    }

    .about,
    .n {

        border-radius: 2rem;
        background-color: #181818;
        margin: 15rem 1rem;
        height: fit-content;
        padding: 1.2rem;

    }

    #_uni {
        display: none;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        text-align: left;



    }

    .hire {

        border: .1rem solid white;
        background-color: #19435d;
        font-size: 1.2rem;
        cursor: pointer;
        margin-right: 0rem;
        padding: 0.8rem;
        color: #ffff;
        border-radius: 1rem;

    }

    .hire:hover {

        border: .1rem solid orange;
        background-color: transparent;
        font-size: 1.2rem;

    }

    #_uni label {

        padding: 1.8rem;
        color: white;
        font-size: 2rem;
        margin-left: 0rem;
        text-decoration: none;
        display: inline-block;
        border: none;
        width: 85%;

    }




    .batt {
        background-color: grey;
        color: white;
        border-radius: 2rem;
        text-align: center;
        margin: 4rem;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 1.5rem;
        border: .2rem solid white;

    }

    .batt:hover {
        background-color: orange;

    }

    .resbox {
        border: .1rem solid white;

        margin-left: 0rem;
        margin-right: 0rem;

        border-radius: .5rem;
        padding: 1rem;
        margin-top: 0;
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
    }



    .resbox:hover {
        border: .1rem solid orange;
        font-size: 1.2rem;
        background-color: transparent;
        border-radius: .5rem;


    }

    label {
        margin-left: 2.2rem;

        /* border:.1rem solid white; */
        font-size: 2rem;
    }

    .lab {
        margin-left: 0;
        padding-left: .5rem;
        /* border:.1rem solid white; */
        font-size: 2rem;
        display: flex;
        align-items: center;
        background-color: #181818;
        position: absolute;
        border-radius: 1rem;
        margin-left: .5rem;
        transition: all 2s ease-in-out;
        margin-top: -3rem;
        z-index: 100;
    }

    .in1:focus {
        outline: none;
    }

    .in1:focus~label,
    .in1:valid~label {
        margin-top: -5rem;
        background-color: #181818;
        font-size: 1rem;
        height: auto;
        /* border: .1rem solid white; */
        transition: all 2s ease-in-out;
        padding: .5rem;
        z-index: 100;
    }

    i {
        padding: .5rem;
        margin-top: 2rem;

    }

    i:hover {
        cursor: pointer;
        color: orange;
        padding: .5rem;

    }

    .footer {
        width: 100%;
        height: 6rem;
        margin-bottom: 2.5rem;
        display: flex;
        background-color: #19435d;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .footer .i1 {
        color: white;
        margin: 2.5rem;
        font-size: 2.6rem;

    }

}

@media screen and (max-width:470px) {

    * {
        margin: 0;
        padding: 0;
        appearance: none;
    }

    html {
        font-size: 56.65%;
    }

    body.light .hire1,
    body.light .resbox1 {
        background: white;
        color: #00d4ff;
        border: .1rem solid #ffff;
    }


    body.light #aa {

        color: white;
    }

    #main a,
    #main label {

        display: none;

    }

    .pic {
        width: 25rem;
        border-radius: 50% 40%;
        margin-left: 7rem;
        margin-top: 0rem;
    }

    .hi {
        font-size: 1.6rem;
        text-align: justify;
        width: 100%;
        margin: 0rem;

    }

    .hi1 {
        margin: 0rem;
        width: 100%;
        margin-top: 1.5rem;
        font-size: 1.6rem;
        text-align: justify;

    }

    .batt {
        background-color: grey;
        color: white;
        border-radius: 2rem;
        text-align: center;
        margin: 4rem;
        cursor: pointer;
        font-size: 1.6rem;
        padding: 1.6rem;
        border: .2rem solid white;

    }

    .batt:hover {
        background-color: orange;
        color: white;
        border-radius: 2rem;
        text-align: center;
        margin: 4rem;
        cursor: pointer;
        font-size: 1.6rem;
        padding: 1.6rem;
        border: .2rem solid white;

    }

    .mytech {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 0rem;
        margin-top: 5rem;
        text-align: center;
        align-items: center;
    }

    .tec1 {
        /* padding: 1.2rem; */
        min-width: auto;
        width: 3rem;
        height: 3rem;
        /* font-size: 1.2rem; */
        margin: .5rem;
        border: .2rem solid #181212;
        border-radius: 50%;
    }

    #img {
        width: 25rem;
        border-radius: 50%;

    }




    .name {
        padding: .5rem;




    }

    .in1 {


        /* width: auto; */
        font-size: 1.5rem;

        border-radius: 1rem;
    }

 
   

    ._na {
        color: white;
        margin: 2.5rem;
        margin-right: 0rem;
        font-size: 3rem;
    }

    .typed-cursor {
        font-size: 3.5rem;
        color: orange;
    }

    .n {
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-between;
        padding: 0rem;
        align-items: center;
        text-align: center;
        flex-direction: column-reverse;


    }

    ._user {

        color: orange;
        font-size: 3rem;
    }


    /* .port {
        
        text-align: left;
        border:.1rem solid white;
        } */

    ._text {
        margin: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
        /* border:.2rem solid green; */
        color: white;
    }

    ._text1 {

        margin: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
        color: white;
    }

    ._text2 {
        margin: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
        color: white;
    }

    ._text3 {
        margin: 1rem;
        font-size: 1.2rem;
        padding: 1rem;
        
        color: white;
    }

    /* body
    {
         border:.4rem solid blue; 
        align-content: center;
        width: auto;
        height: auto;

        
    } */

    .n {
        margin-top: 19rem;
    }

    .about,
    .n {

        border-radius: 2rem;
        background-color: #181818;
        margin: 8.5rem 1rem;
        height: fit-content;
        padding: 1.2rem;

    }




    .ame {
        margin: 3rem;
        padding: 2rem;
        text-align: center;
        color: white;

    }

    .i {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        color: white;
    }

    #aa,
    #cls {
        margin-top: 0rem;
        font-size: 3rem;
        /* border:.2rem solid red; */
        padding: .5rem;
        margin-right: 2rem;

    }


    #_uni label:hover {

        color: orange;
        font-size: 2rem;
        padding: 3rem;
        margin-right: 4rem;
    }

    #uni {

        display: none;
        width: 100%;
        margin: 0 0;
        position: fixed;
        margin-top: -1rem;
        left: 0;
        border: none;
        /* background:linear-gradient(#121212 85%,transparent 15%); */
        /* border:.2rem solid green; */

    }

    #_uni,
    .hire {
        display: none;


    }

    .hire1 {

        display: flex;
        background-color: #19435d;
        border: .1rem solid white;
        font-size: 1.5rem;
        cursor: pointer;
        margin-right: 0rem;
        padding: 0.8rem;
        color: #ffff;
        border-radius: 1rem;

    }


    .ap1 {
        min-width: 0rem;
        width: 20rem;
        height: 14rem;
        border-radius: 2rem;
        min-height: 0rem;
    }

    .hire1:hover {

        border: .1rem solid orange;
        background-color: orange;
        font-size: 1.5rem;
        cursor: pointer;
        margin-right: 0rem;
        padding: 0.8rem;

        border-radius: 1rem;

    }

    #_uni label {

        padding: 1.8rem;
        color: white;
        width: fit-content;
        font-size: 1.6rem;
        display: inline-block;
        margin-left: 0rem;
        border: none;
        /* border: .2rem solid white; */
        width: 85%;

    }


    .box {

        display: grid;




    }

    .ap {
        color: white;
        /* text-decoration: none; */
        /* text-align: center; */
        /* margin-top: 1rem; */
        font-size: 1.5rem;

    }

    .nig {

        display: flex;
    }

    .lang {

        /* border: .2rem solid white; */

        cursor: pointer;
        border-radius: 1rem;
        padding: .3rem;
        font-size: 1.2rem;
        color: #0077ff;
    }

    .pdf-viewer {
        width: max-content;
        height: 100%;
        border: none;
        margin-bottom: 5rem;
        font-size: 2rem;


    }



    .resbox1 {
        border: .1rem solid white;
        display: flex;
        color: white;
        margin: 0rem;

        padding: 1rem;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .resbox1 i,
    .hire1 i {
        margin: 0;
        padding: 0;
    }

    .resbox {
        display: none;
    }

    .resbox1 a:hover {
        text-decoration: none;
        margin: 0rem;
        border: .1rem solid orange;
        background-color: transparent;


        font-size: 1.2rem;
    }


    i {

        padding: .5rem;
        margin-top: 2rem;

    }


    i:hover {
        cursor: pointer;
        color: orange;
        padding: .5rem;

    }

    .footer {
        width: 100%;
        height: 6rem;
        margin-bottom: 0rem;
        display: flex;
        background-color: #19435d;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .footer .i1 {
        color: white;
        margin: 2.5rem;
        font-size: 2.6rem;

    }

}

@media screen and (max-width:1037px) {

    html {
        font-size: 62.5%;
    }

}